<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!--
    <appSettings>
      <add key="Parent" value="Department" />
      <add key="Child" value="Nurse" />
      <add key="ParentFKColumn" value="DeptID" />
      <add key="ChildFKColumn" value="DeptID" />
    </appSettings>
    -->
    
  
   
    <appSettings>
      <add key="Parent" value="InsuranceCompany" />
      <add key="Child" value="Patient" />
      <add key="ParentFKColumn" value="CompanyID" />
      <add key="ChildFKColumn" value="InsuranceID" />
      
    </appSettings>
</configuration>